/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color: rgba(100, 180, 110);
}

/* Shows or hides the div sections on page */
.hide {
    display: none;
}

.show {
    display:contents;
}

/* Little monster image */
#monster-img{
    margin: 100px 0 100px 0;
    width: 90%;
    height: auto;
}

/* Buttons for start, play section and retry */
#start-button,
#end-button{
    width: 110px;
    font-size: 100%;
}

#buttons{
    display: inherit;
    justify-content: space-evenly;
}

.play-button{
    background-color: rgb(19, 136, 27);
    width: 50px;
    height: 50px;
    color: rgb(226, 226, 213);
    cursor: pointer;
    border: none;
    font-size: 170%;
    border-radius: 15px;
}

.play-button:hover {
    background-color: rgb(26, 62, 28);
}

