/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color: rgba(100, 180, 110);
    color: rgb(1, 64, 0);
    font-weight: 600;
}

/* Hides and or displays sections */
.none {
    display: none;
}

/* Adds a bit of space to the top */
h1 {
    margin-top: 20px;
    text-decoration-line: underline;
}

h2,
h3 {
    padding-top: 30px;
}

p {
    padding: 0 10px 0 10px;
}

.play-page h2,
.end-page h2,
.end-page h3 {
    padding-top: 10px;
}

/* Little monster need bubble */
#need-bubble {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#need-icon {
    background-color: rgb(136, 19, 19);
    border-radius: 45px;
    width: 130px;
    height: 130px;
    padding: 20px;
}

/* Little monster image */
.monster-img {
    margin: 30px 0 30px 0;
    width: 70%;
    height: auto;
    max-width: 420px;
}

/* Buttons for start, play section and retry */
#start-button {
    width: 110px;
    font-size: 100%;
    color: rgb(226, 226, 213);
    margin: 40px 0 40px 0;
}

#retry-button {
    width: 110px;
    font-size: 100%;
    color: rgb(226, 226, 213);
    margin-bottom: 20px;
}

.game-buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    background-color: rgb(19, 136, 27);
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.buttons:hover {
    background-color: rgb(26, 62, 28);
}

.play-button {
    width: 50px;
    height: 50px;
}

/* Media query: tablet and larger (768px and up) */
@media screen and (min-width: 768px) {
    body {
        font-size: 160%;
    }

    p {
        padding: 0 80px 0 80px;
    }

    /* Little monster need bubble */
    #need-bubble {
        margin-top: 10px;
    }

    #need-icon {
        width: 190px;
        height: 190px;
    }

    /* Buttons for start, play section and retry */
    #start-button,
    #retry-button {
        width: 200px;
        height: 80px;
    }

    .buttons {
        padding: 10px;
    }

    .controlbutton {
        width: 90px;
        height: 90px;
    }

    .play-button {
        width: 70px;
        height: 70px;
    }
}

/* Media query: laptop size and larger (1255px and up) */
@media screen and (min-width: 1255px) {
    body {
        font-size: 120%;
    }

    h1 {
        margin-top: 10px;
    }

    /* Little monster need bubble */
    #need-icon {
        width: 130px;
        height: 130px;
    }

    /* Little monster image */
    .monster-img {
        margin: 10px 0 10px 0;
        max-width: 350px;
    }

    /* Buttons for start, play section and retry */
    #start-button,
    #retry-button {
        width: 150px;
        height: 60px;
    }

    .controlbutton {
        width: 100px;
        height: 100px;
    }

    .play-button {
        width: 80px;
        height: 80px;
    }
}